@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@500;700&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Kanit :wght@500;600;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

:root
{
    --main-color:#1095D6;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300:0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000;
    --black-400:#55555;
    --black-100:#f7f7f7;
    --white:#fff;
    --black-alpha-100:rgba(0,0,0,0.05);
}

.mensagem {
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Alkatra', cursive;
    color: black;
}


.certo {
    width: 90px;
    height: 90px;
    margin-top: 280px;
}

body{
    background: url(fundo.png) no-repeat; /*Colocar uma foto minha na seleção toda da pagína*/
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Alkatra', cursive;
}

.nav-link {
    font-family: 'Kanit', sans-serif;
    font-family: 'Alkatra', cursive;
}

.navbar .nav-item .nav-link.active,
  .navbar .nav-item .nav-link:hover
  {
      color: var(--main-color);
  }

 